.header {
	background: rgba(243, 243, 243, 0.5);
	min-height: 32px;
	padding: 48px 40px 10px 40px;
	border-bottom: 2px solid rgba(218, 218, 218, 1);
	&__left {
		width: 405px;
		float: left;
	}
	&__right {
		width: 405px;
		float: left;
		text-align: right;
		position: relative;
	}
}
.clear:after {
	display: block;
	content: '';
	clear: both;
}
